@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;     /* Firefox */
}
/* src/index.css или глобальный CSS */
.card.modal-open & {
  box-shadow: none !important;
  transform: none !important;
}